In [1]:
# Dict
# Indexing
# Multiple and duplicate
# Ordered
# Mutable

In [2]:
d = {}
d = dict()

In [3]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [4]:
d = {1:1,2:4,3:9,4:16}
type(d)

dict

In [13]:
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
print(d['a'])

Apple

In [17]:
d = {("Ram","Shyam"):9808778765}
d[("Ram","Shyam")]

9808778765

In [15]:
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
for i in d:
    print(i)

a
b
c
A

In [18]:
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
for i in d.values():
    print(i)

Apple
Ball
Cat
Apple

In [19]:
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')
('A', 'Apple')

In [21]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [22]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  3
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808667654
Enter name =  Hari
Enter phone =  9808445432

{'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}

In [23]:
d = {'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}
d["Nabin"] = 980778765
d

{'Ram': '9808778765',
 'Shyam': '9808667654',
 'Hari': '9808445432',
 'Nabin': 980778765}

In [24]:
d = {'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}
d['Ram'] = 9808778765
d

{'Ram': 9808778765, 'Shyam': '9808667654', 'Hari': '9808445432'}

In [25]:
#del pop()
d = {'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}
del d["Ram"]
print(d)

{'Shyam': '9808667654', 'Hari': '9808445432'}

In [29]:
d = {'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}
b = d.pop("Ram")
print(d)
print(b)

{'Shyam': '9808667654', 'Hari': '9808445432'}
9808778765

In [30]:
# in dict No + * 
a = {'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432'}
b = {1:1,2:4,3:9}
a.update(b)
print(a)

{'Ram': '9808778765', 'Shyam': '9808667654', 'Hari': '9808445432', 1: 1, 2: 4, 3: 9}

In [32]:
# list inside dict
a = {'Ram': ['9808778765','9808667654'], 'Shyam': ['9808667654','9808787654'], 'Hari': ['9808445432','9808778765']}

print(a['Ram'])

['9808778765', '9808667654']

In [33]:
print(a['Ram'][1])

9808667654

In [34]:
a = {'Ram': ['9808778765','9848667654'], 'Shyam': ['9808667654','9848787654'], 'Hari': ['9808445432','9848778765']}
name = input("Enter name = ")
print(a[name][1])

Enter name =  Shyam

9848787654

In [38]:
a = {"name":["Ram","Shyam","Hari"],
     "age":[34,56,43],
    "address":["Kathmandu","Bhaktapur","Lalitpur"]}

name = input("Enter name = ")
i = a["name"].index(name)
print(a["name"][i])
print(a["age"][i])
print(a["address"][i])

Enter name =  Shyam

Shyam
56
Bhaktapur

In [37]:
 a["name"].index("Ram")

0

In [ ]:
WAP to create this format
a = {'Ram': ['9808778765','9808667654'], 'Shyam': ['9808667654','9808787654'], 'Hari': ['9808445432','9808778765']}


WAP to create this format
a = {"name":["Ram","Shyam","Hari"],
     "age":[34,56,43],
    "address":["Kathmandu","Bhaktapur","Lalitpur"]}

In [1]:
# WAP to create this format
# a = {'Ram': ['9808778765','9808667654'], 'Shyam': ['9808667654','9808787654'], 'Hari': ['9808445432','9808778765']}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no = ")
    ncell = input("Enter ncell phone no = ")
    a[name] = [ntc,ncell]

print(a)

Enter n =  2
Enter name =  Ram
Enter ntc phone no =  9865778765
Enter ncell phone no =  980877865
Enter name =  Shyam
Enter ntc phone no =  9845667654
Enter ncell phone no =  9808778765

{'Ram': ['9865778765', '980877865'], 'Shyam': ['9845667654', '9808778765']}

In [ ]:
WAP to create this format
# a = {"name":["Ram","Shyam","Hari"],
#      "age":[34,56,43],
#     "address":["Kathmandu","Bhaktapur","Lalitpur"]}
a = {"name":[],
     "age":[],
     "add":[]}

for i in range(n):
    name = input("Enter name = ")
    age = int("Enter age = ")
    add = input("Enter address = ")
    a["name"].append(name)
    a["age"].append(age)
    a["add"].append(add)

print(a)

In [2]:
#dict inside list
a = [{"name":"Ram","age":34,"add":"Kathmandu"},
    {"name":"Shyam","age":44,"add":"Bhaktapur"},
    {"name":"Hari","age":35,"add":"Lalitpur"}]
a

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 35, 'add': 'Lalitpur'}]

In [ ]:
a = []
for i in range(n):
    name = input("Enter name = ")
    age = int("Enter age = ")
    add = input("Enter address = ")
    b = {"name":name,"age":age,"add":add}
    a.append(b)

print(a)

In [6]:
a = [{"name":"Ram","age":34,"add":"Kathmandu"},
    {"name":"Shyam","age":44,"add":"Bhaktapur"},
    {"name":"Hari","age":35,"add":"Lalitpur"}]
a[0]["add"]

'Kathmandu'

In [7]:
# dict inside dict
d = {1:{"name":"Ram","age":34,"add":"Kathmandu"},
    2:{"name":"Shyam","age":44,"add":"Bhaktapur"},
    3:{"name":"Hari","age":35,"add":"Lalitpur"}}
d

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 35, 'add': 'Lalitpur'}}

In [10]:
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    a[i]={'name': name, 'age': age, 'add': add}

print(a)

Enter n =  2
Enter name =  Ram
Enter age =  34
Enter address =  Kathmandu
Enter name =  Shyam
Enter age =  45
Enter address =  Bhaktapur

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}}

In [11]:
a

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}}

In [13]:
a[3] = {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}
a

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'},
 3: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}}

In [15]:
a[3]["name"] = "Hari"
a

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 45, 'add': 'Bhaktapur'}}