In [1]:
# nested list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(type(a))

<class 'list'>

In [6]:
print(a[0])

[1, 2, 3]

In [9]:
print(a[0][2])

3

In [10]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Bhaktapur"],
    ["Hari",33,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 33, 'Lalitpur']]

In [12]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']
['Hari', 33, 'Lalitpur']

In [13]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    info.append(x)

print(info)

Enter n =  2
Enter name =  Ram
Enter age =  78
Enter add =  kathmandu
Enter name =  Shyam
Enter age =  45
Enter add =  Bhaktapur

[['Ram', 78, 'kathmandu'], ['Shyam', 45, 'Bhaktapur']]

In [16]:
info[0]

['Ram', 78, 'kathmandu']

In [17]:
b = ["Hari",34,"Kathmandu"]
info.append(b)
print(info)

[['Ram', 78, 'kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Kathmandu']]

In [20]:
# Update
info[0] = ["Rama",34,"Kathmandu"]
info

[['Rama', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Kathmandu']]

In [23]:
info[0][0] = "Ram Prasad"
info

[['Ram Prasad', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Kathmandu']]

In [33]:
# delete
del info[0]

In [34]:
print(info)

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Kathmandu']]

In [32]:
info = [['Ram', 78, 'kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Kathmandu']]

In [39]:
# Search
info = [['Ram', 78, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Kathmandu']]
search = input("Enter name = ")
for i in info:
    if search in i:
        print(i)

Enter name =  Kathmandu

['Ram', 78, 'Kathmandu']
['Hari', 34, 'Kathmandu']

In [42]:
info = [['Ram', 78, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Kathmandu']]
# age = input("Enter age = ")
for i in info:
    if i[1] >=40:
        print(i)

['Ram', 78, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']

In [43]:
info = [['Ram', 78, 'Kathmandu'], 
        ['Shyam', 45, 'Bhaktapur'], 
        ['Hari', 34, 'Kathmandu']]
name = input("Enter name = ")
for i in info:
    if i[0].lower() == name.lower():
        print(i)

Enter name =  shyam

['Shyam', 45, 'Bhaktapur']

In [46]:
"Kathmandu".lower() == "kathMandU".lower()

False

In [47]:
"Kathmandu".lower()

'kathmandu'

In [48]:
 "kathMandU".lower()

'kathmandu'

In [49]:
# WAP to create a matrix
# r - ?
# c - ?
# x - ?

# nested for loop

# for i in range():
#     for j in range():

In [50]:
# Tuple
# Indexing
# Multiple and duplicate
# Ordered
# Imutable

In [52]:
a = tuple()
b = ()

print(type(a))

<class 'tuple'>

In [56]:
a = (1,)
type(a)

tuple

In [59]:
a = ("Male","Female","Other")
print(a[2])

Other

In [60]:
# No append() extend() insert()
# No Update
# No delete

In [61]:
# WAP to create tuple inside tuple

In [64]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + (x,)

print(a)

Enter n =  2
Enter x =  11
Enter x =  22

(11, 22)

In [62]:
a = (1,2,3)
b = (4,5,6)
c = a+b
c

(1, 2, 3, 4, 5, 6)

In [65]:
# max()
# min()
# sum()
# sort()

In [66]:
a = (34,23,56,78,32,45)
print(max(a))

78

In [67]:
a = (34,23,56,78,32,45)
print(min(a))

23

In [68]:
a = (34,23,56,78,32,45)
print(sum(a))

268

In [74]:
a = [34,23,56,78,32,45]
a.sort()
print(a)

[23, 32, 34, 45, 56, 78]

In [76]:
a = [34,23,56,78,32,45]
a.sort()
a.reverse()
print(a)

[78, 56, 45, 34, 32, 23]

In [77]:
a = ["Banana","Apple","Zebra","Xray"]
a.sort()
print(a)

['Apple', 'Banana', 'Xray', 'Zebra']