In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

In [4]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python_class630"
)
db = database.cursor()

In [ ]:
#read

In [5]:
db.execute("SELECT * FROM students")
result = db.fetchall()
for i in result:
    print(i)

(1, 'Ram Thapa', 78, 89, 45, 89, 76, 430, 85.0, 'A')
(2, 'Shyam Thapa', 78, 89, 45, 89, 76, 430, 85.0, 'A')

In [6]:
db.execute("SELECT name,total,grade FROM students")
result = db.fetchall()
for i in result:
    print(i)

('Ram Thapa', 430, 'A')
('Shyam Thapa', 430, 'A')

In [8]:
db.execute("SELECT name,total,grade FROM students WHERE per > 80 ")
result = db.fetchall()
for i in result:
    print(i)

('Ram Thapa', 430, 'A')
('Shyam Thapa', 430, 'A')

In [9]:
#insert

In [12]:
sql = """INSERT INTO `students` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`)
VALUES ('Hari', '89', '98', '99', '80', '85', '485', '94', 'A'); """
db.execute(sql)
database.commit()

"INSERT INTO `students` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`)\nVALUES ('Hari', '89', '98', '99', '80', '85', '485', '94', 'A'); "

In [13]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics msrks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    if per >= 80:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 40:
        grade = "C"
    else:
        grade = "F"
    sql = f"""INSERT INTO students (name,physics,chemistry,math,english,nepali,total,per,grade)
    VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}'); """
    db.execute(sql)
    
database.commit()

Enter n =  1
Enter name =  Sabin
Enter physics msrks =  89
Enter chemistry marks =  98
Enter math marks =  90
Enter english marks =  87
Enter nepali marks =  89

In [14]:
# Update
sql = "UPDATE students SET name = 'Ram Prasad' WHERE sn = 1"
db.execute(sql)
database.commit()

In [15]:
#delete
sql = "DELETE FROM students WHERE sn = 3"
db.execute(sql)
database.commit()